<article class="customers">
    <header>
        <h2>Customers List</h2>
        <a id="create-customer" href="#" class="button">Create customer</a>
    </header>
    <div id="customers-list">
        {{> partials/customer}}
    </div>
</article>