<article class="appointments">
    <header>
        <h2>Appointment List</h2>
        <a id="week-filter" href="?byDate=2016.08.09" class="button">Starts from 2016/08/09</a>
        {{#if query}}
            <a id="clear-filter" href="/appointment" class="button">Clear</a>
        {{/if}}
    </header>
    <div id="appointments-list">
        {{> partials/appointment}}
    </div>
</article>